{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "none",
    "wrapAttributes": false,
    "sortAttributes": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.html", "*.css"],
            "options": {
                "semi": false,
                "singleQuote": false
            }
        }
    ]
}