.top {
    padding: 14px 12px 14px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img {
    width: 28%;
    height: auto;
}

.artist-info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.artist_img img {
    width: 100%;
    /* border: 1px solid var(--color-primary-8); */
    border-radius: 200px;
    box-shadow: 0px 2px 4px 0px var(--color-shadow);
}

.artist-name {
    font-size: var(--font-48);
    font-weight: var(--fw-medium);
    padding-top: 31px;
}

.artist-type {
    font-size: var(--font-24);
    font-weight: var(--fw-medium);
}

.album-info {
    padding: 59px 27px 0 27px;
}

.album-text {
    font-size: var(--font-20);
    font-weight: var(--fw-semibold);
}

.artist-info-swiper {
    width: 100%;
    height: auto;
    padding-top: 16px;
}