footer.container {
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  z-index: 9999;
}

footer .row {
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(200, 218, 255, 1) 100%
  );
  border: 1px solid var(--color-primary-5);
  border-radius: 20px 20px 0 0;
}

footer .col-5 {
  text-align: center;
}

footer .col-5 img {
  width: 30px;
  margin-bottom: 5px;
}

/* 기본 아이콘 색상 */
svg {
  color: #000000;
  /* 기본 검정색 */
  transition: color 0.2s;
  /* 부드러운 색상 변경 */
}

/* 클릭하거나 활성화 되었을 때 */
a:active svg,
a:focus svg {
  color: #6f83f7;
}

/* 
 *  메인로고 애니메이션 css 수정 X  *
*/

footer .logo_box {
  position: relative;
  max-width: 70px;
  width: 100%;
  height: 70px;
  top: -30px;
}

footer .face {
  position: absolute;
  /* 3행 × 30px + gap */
  display: grid;
  grid-template-columns: repeat(5, 10px);
  grid-template-rows: repeat(3, 10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

footer .logo_box img {
  position: absolute;
  width: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer .block {
  width: 8px;
  height: 8px;
  background: black;
  z-index: 1;
  transition: all 0.3s ease;
  justify-self: center;
  align-self: center;
}

footer .eye {
  transition: transform 0.15s ease;
}

footer .mouth {
  transition: all 0.3s ease;
}

/* 웃는 입 - 아래 둥글게 */
footer .mouth.smile {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 입을 납작하게 (scaleY로 세로 줄임) */
footer .mouth.flat {
  transform: scaleY(0.2) translateY(-5px);
  border-radius: 0 !important;
}

/* 웃을 때 눈 */
footer .eye.smile-eye {
  transform: scaleY(0.2);
}
