/* ===============
 메인 로고 애니메이션 CSS 수정 X
================*/
.logo_box {
  position: relative;
  max-width: 120px;
  width: 100%;
  height: 120px;
}

.face {
  position: absolute;
  /* 3행 × 30px + gap */
  display: grid;
  grid-template-columns: repeat(5, 15px);
  grid-template-rows: repeat(3, 15px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

img {
  position: absolute;
  width: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block {
  width: 10px;
  height: 10px;
  background: black;
  z-index: 1;
  transition: all 0.3s ease;
  justify-self: center;
  align-self: center;
}

.eye {
  transition: transform 0.15s ease;
}

.mouth {
  transition: all 0.3s ease;
}

/* 웃는 입 - 아래 둥글게 */
.mouth.smile {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 입을 납작하게 (scaleY로 세로 줄임) */
.mouth.flat {
  transform: scaleY(0.2) translateY(-5px);
  border-radius: 0 !important;
}

/* 웃을 때 눈 */
.eye.smile-eye {
  transform: scaleY(0.2);
}
