<!-------------------------------------
 Vue에서 작업할 컴포넌트 입니다.
 필요시 Html , Css 에서만 작업시 코드 복사후 사용가능 수정 X
---------------------------------------->

<body>
    <button type="submit" class="login-btn">로그인</button>
</body>

<style>
    /* 로그인버튼 */
    #splash>.container>.logo-2>.row>.login-form>button {
        padding: 19px 0;
        border-radius: 30px;
        border: 1px solid #d3dcff;
        box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
        font-size: var(--font-22);
        font-weight: bold;
        background:
            linear-gradient(180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(200, 218, 255, 1) 100%),
            linear-gradient(180deg,
                rgba(111, 131, 247, 1) 0%,
                rgba(56, 82, 232, 1) 100%);

        color: #6f83f7;
    }
</style>