<!-------------------------------------
 Vue에서 작업할 컴포넌트 입니다.
 필요시 Html , Css 에서만 작업시 코드 복사후 사용가능 수정 X
---------------------------------------->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/base/reset.css">
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/layout/grid.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../css/layout/header-2.css">
</head>

<body>
    <header class="container">
        <!-- 시간출력 부분 -->
        <div class="row">
            <div class="col-2">
                <p class="time"></p>
            </div>
            <div class="col-2">
                <span class="material-symbols-outlined">
                    android_cell_4_bar
                </span>
                <span class="material-symbols-outlined">
                    wifi
                </span>
                <span class="material-symbols-outlined">
                    battery_android_frame_full
                </span>
            </div>
        </div>
        <!-- 프로필 헤더 부분 -->
        <div class="row">
            <div class="col-2">
                <img src="../assets/images/common/logo.png" alt="" srcset="">
            </div>
            <div class="col-2">
                <img src="../assets/images/common/test.jpg" alt="test-img">
            </div>
        </div>
    </header>
    <script>
        const time = document.querySelector(".time");

        function updateTime() {
            const now = new Date();
            const hour = String(now.getHours()).padStart(2, '0');
            const minute = String(now.getMinutes()).padStart(2, '0');
            const second = String(now.getSeconds()).padStart(2, '0');
            time.textContent = `${hour}:${minute}`;
        }

        updateTime(); // 처음 1번 실행
        setInterval(updateTime, 1000); // 1초마다 갱신
    </script>
</body>

</html>