<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지_앨범추천</title>
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/base/reset.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../css/layout/grid.css">
    <link rel="stylesheet" href="../css/components/main_albumSlide.css">
    <script src="../js/main_albumSlide.js" defer></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div class="row g-1">
                <h3>당신을 위한 추천 : 락밴드</h3>
                <div class="col5">
                    <img src="../assets/images/main/albumSlide/cover1.png" alt="album_cover1">
                    <img src="../assets/images/main/albumSlide/cover2.png" alt="album_cover2">
                    <img src="../assets/images/main/albumSlide/cover3.png" alt="album_cover3">
                    <img src="../assets/images/main/albumSlide/cover4.png" alt="album_cover4">
                    <img src="../assets/images/main/albumSlide/cover5.png" alt="album_cover5">
                </div>
            </div>
        </div>
    </div>
</body>

</html>