<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaList</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/base/reset.css">
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/layout/grid.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../css/components/medialist.css">
</head>

<body>
    <section class="container" id="section1">
        <div class="row">
            <a href="javascript:void(0)" class="col-2">
                <img src="../../assets/images/album_cover/1.png" alt="album_cover1" width="80
                            ">
                <div class="box col-2">
                    <div class="artist-name-box">
                        <p>KiiiKiii (키키)</p>
                        <p>404(New Era)</p>
                    </div>
                    <p class="more-btn">⁝</p>
                </div>
            </a>
        </div>
    </section>
</body>

</html>