<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색창 컴포넌트</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/base/reset.css">
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/layout/grid.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../css/components/searchbar.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <input type="text" placeholder="가수 · 노래제목 · 가사를 적어주세요">
                <span class="material-symbols-outlined bold ">
                    search
                </span>
            </div>
        </div>
    </div>
</body>

</html>