/* ================= 
  회원가입 메인 Css파일
=====================*/

h2 {
    color: var(--color-primary);
    font-weight: 500;
    padding-top: 37px;
}

.title {
    flex-direction: column;
}

.container:first-of-type {
    margin-bottom: 43px;
}

.terms-check {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 18px;
    margin-bottom: 51px;
}

.terms-check input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-primary-2);
    border-radius: 5px;
    background: transparent;
    display: grid;
    place-content: center;
    cursor: pointer;
    background-color: #fff;
}

.terms-check input[type="checkbox"]:checked {
    background: var(--color-primary-2);
    border-color: var(--color-primary-2);
}

.terms-check input[type="checkbox"]:checked::after {
    content: "✓";
    color: #fff;
    font-size: 12px;
    line-height: 1;
}

.login-btn {
    margin-bottom: 20px;
}

.social-login {
    margin-bottom: 7px;
}

.social-login-icon {
    justify-content: center;
}

.social-login-icon img {
    width: 60px;
}