/* ================

      * 리셋 Css 수정 X *

==================*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* =========================
   HTML / Body
========================= */

html,
body {
  overscroll-behavior: none; /* 위아래 바운스 방지(지원되는 곳) */
}

.hidden {
  display: none;
}
/* =========================
   List
========================= */
ul,
ol,
dl {
  list-style: none;
}
/* =========================
   Anchor
========================= */
a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   Typography
========================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: 22px;
}
p {
  line-height: 22px;
}

/* =========================
   Form
========================= */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  outline: none;
}
button {
  cursor: pointer;
}
input::placeholder,
textarea::placeholder {
  color: #777;
}
/* =========================
   Media
========================= */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  object-fit: cover;
}

/* =========================
   Table
========================= */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
