main > .shorts_swiper {
  height: 390px;
  margin-top: 100px;
}

main > .shorts_swiper h3 {
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
}

.shorts {
  width: 160px;
  height: 284px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 14px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

.information > img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid var(--color-primary-6);
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: auto;
}

.artist p {
  margin: 0;
  line-height: 1.1;
  color: #fff;
  font-weight: var(--fw-100);
}

.artist_song {
  font-size: var(--font-12);
}

.artist_name {
  font-size: var(--font-10);
}

.buttons {
  width: 11px;
  height: 11px;
  position: relative;
}

.buttons img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.buttons img:first-child {
  display: none; /* pause 숨김 */
}
