#section1 .row a > img {
  border-radius: 10px;
}

#section1 .row .col-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section1 .row .box {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 15px 10px;
  border-radius: 5px;
}

#section1 .row .box .artist-name-box p:first-child {
  font-size: var(--font-16);
  color: var(--color-black);
  margin-bottom: 5px;
}

#section1 .row .box .artist-name-box p:last-child {
  font-size: var(--font-14);
  color: #737886;
}
#section1 .row .box .more-btn {
  font-size: var(--font-24);
  cursor: pointer;
}
