#wrap .mini-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 58px;
  border: 1px solid var(--color-primary-5);
  border-radius: 0 0 10px 10px;
  background-color: var(--color-white);
}

#wrap .mini-bar {
  padding: 0;
}
/* ✅ 진행바 (박스 위에 붙음) */
.mini-progress-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* ✅ 두께 */
  background: var(--color-primary-5); /* ✅ 연한 배경 */
  border-radius: 10px 10px 0 0; /* ✅ 위쪽만 둥글게 */
  cursor: pointer;
  z-index: 10;
}

.mini-progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #5b86e5, #36d1dc); /* ✅ 그라데이션 */
  /* background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-primary-7) 100%
  ); */
  /*  background: linear-gradient(
    90deg,
    var(--color-primary-9) 0%,
    var(--color-primary-4) 50%,
    var(--color-primary-7) 100%
  ); */
  border-radius: 10px 0 0 0;
  transition: width 0.1s linear;
  will-change: width;
  pointer-events: none;
}

/* 음악 / 가수명 */

.sogn-info {
  font-weight: var(--fw-semibold);
  color: var(--color-black);
}

.sogn-name {
  font-size: var(--font-14);
}

.singer-name {
  font-size: var(--font-12);
}

/* 우측 아이콘 */
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 43px;
  padding-right: 7px;
}

.icons button {
  display: flex;
  align-items: center;
}

/* ✅ 호버 효과 제거 */
.icons button:active {
  opacity: 0.7;
}

/* 아이콘 이미지 크기 */

.play-pause-img {
  width: 20px;
}
