.row {
  border: 1px solid var(--color-primary-5);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 18px 16px;
}

.row .col-1 {
  background-color: #ffffff;
  display: flex;
}
.row .col-1 input {
  font-size: var(--font-14);
  font-weight: var(--fw-medium);
  background-color: #ffffff;
  width: 100%;
}

.row .col-1 span {
  font-size: var(--font-22);
  color: var(--color-primary-4);
  margin-left: auto;
  cursor: pointer;
}
