/* ================= 
  아티스트선택 페이지 메인 Css파일
=====================*/

#wrap {
  background: url(../../assets/images/bg/Bg02-big.png) no-repeat center;
  background-size: cover;
}
body {
  overflow: hidden;
}

.artist-select-header {
  margin-top: 37px;
}

.artist-select-header h2 {
  line-height: 45px;
}
.artist-select-header span {
  letter-spacing: 8px;
}

.artist-search-input {
  margin-top: 27;
}

.login-form-field {
  display: flex;
  gap: 19px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #bbd1ff;
  padding: 21px 24px;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  margin-top: 27px;
  align-items: center;
}

.login-form-field > input {
  width: 100%;
  font-size: 14px;
}

.login-form-field {
  display: flex;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #bbd1ff;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  height: 56px;
  padding: 20px 19px;
}

.login-form-field > input {
  font-size: 14px;
  margin-left: 25px;
  width: 50%;
}

.name-check {
  display: flex;
  font-size: var(--font-12);
  padding: 7px 10px;
  margin-left: auto;
}

.row:nth-of-type(2) {
  scrollbar-width: none;
  height: calc(100vh - 260px);
  overflow-y: auto;
  margin-top: 47px;
  padding-bottom: 140px;
}

.row:nth-of-type(2) label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  border-radius: 50%;
}
.row:nth-of-type(2) label > img {
  object-fit: cover;
  padding: 4px;
  border-radius: 50%;
  width: 172px;
}
.row:nth-of-type(2) label .checked-heart {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.row:nth-of-type(2) label:has(input:checked) .checked-heart {
  opacity: 1;
}
.row:nth-of-type(2) h2 {
  margin-top: 4px;
}
.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: center;
}
.button-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 138px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 22.11538404226303%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}

.login-btn {
  position: relative;
  z-index: 1;
  margin-bottom: 41px;
  width: calc(100% - 40px);
  max-width: 600px;
  padding: 17px;
  border-radius: 30px;
  font-size: var(--font-22);
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(111, 131, 247, 1) 0%,
    rgba(56, 82, 232, 1) 100%
  );

  color: var(--color-white);
}
