/* 상위 박스 */
main .container:nth-child(1) {
  padding: 42px 28px 34px 28px;
}

main .container:nth-child(1) .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-box {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 19px;
  border: 1px solid var(--color-accent-blue);
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  background-color: var(--color-white);
}

.recent-box p {
  font-weight: var(--fw-normal);
  font-size: var(--font-16);
}

.recent-box img {
  width: 20px;
}
