/* ================= 
  로딩페이지 메인 Css파일
=====================*/
main {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}
main .row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .col-1 h2 {
  margin-bottom: 36px;
  letter-spacing: 4px;
}
