/* ================= 
  로딩페이지 메인 Css파일
=====================*/

main {
  height: calc(100vh - 50px);
}
#wrap {
  background: url(../../assets/images/bg/Bg02-big.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .col-1 h2 {
  margin-bottom: 36px;
  letter-spacing: 4px;
}
