main {
  height: calc(100vh - 197px);
  position: relative;
  top: -13px;
  flex-direction: column;
  display: flex;
  gap: 40px;
}
#lsc {
  background:
    linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(211, 244, 254, 0.2) 16.826923191547394%,
      rgba(211, 220, 255, 1) 62.0192289352417%,
      rgba(187, 209, 255, 1) 85.57692170143127%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  padding: 31px 41px;
}
#lsc.container {
  gap: 25px;
}
#lsc > .row:nth-child(1) {
  position: relative;
  justify-content: space-between;
}
#lsc > .row .col-2:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#lsc > .row .col-2:nth-child(1) .content-text-1 h2 {
  margin-bottom: 6px;
}
#lsc > .row .col-2:nth-child(1) .content-text-2 p {
  font-size: var(--font-14);
  font-weight: var(--fw-400);
}

#lsc > .row .col-2:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background:
    linear-gradient(
      180deg,
      rgba(111, 131, 247, 1) 0%,
      rgba(56, 82, 232, 1) 100%
    ),
    linear-gradient(to left, #a13c3c, #a13c3c);
  border-radius: 50%;
  height: calc(100% - 10px);
}
#lsc > .row .col-2:nth-child(2) .play-img {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
}
#lsc > .row > .cloud-img-1 {
  position: absolute;
  left: 55%;
  top: 15%;
}
#lsc > .row > .cloud-img-2 {
  position: absolute;
  right: 0%;
  bottom: 5%;
}
#lsc > .row > .cloud-img-3 {
  position: absolute;
  left: 45%;
  bottom: 15%;
}

#lsc > .row:nth-child(2) .col-1 {
  display: flex;
  cursor: pointer;
}

#lsc > .row:nth-child(2) h4 {
  font-size: var(--font-16);
  font-weight: var(--fw-medium);
  padding: 7px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid var(--color-accent-blue);
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  text-align: center;
}
#lsc-2 img,
#lsc-3 img {
  width: 130px;
  height: 130px;
}

#lsc-2 > .row:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 14px;
}
#lsc-2 > .row:nth-child(1) .col-2:nth-child(2) img {
  width: 20px;
  height: 26px;
}

#lsc-2 > .row:nth-child(2) .swiper-slide p:nth-child(2) {
  font-size: var(--font-14);
  font-weight: var(--fw-600);
}
#lsc-2 > .row:nth-child(2) .swiper-slide p:nth-child(3) {
  font-size: var(--font-12);
  font-weight: var(--fw-400);
}

#lsc-3 > .row:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 14px;
}
#lsc-3 > .row:nth-child(1) .col-2:nth-child(2) img {
  width: 20px;
  height: 26px;
}
#lsc-3 > .row:nth-child(2) .swiper-slide img {
  width: 100%;
}
#lsc-3 > .row:nth-child(2) .swiper-slide p:nth-child(2) {
  font-size: var(--font-14);
  font-weight: var(--fw-600);
}
#lsc-3 > .row:nth-child(2) .swiper-slide p:nth-child(3) {
  font-size: var(--font-12);
  font-weight: var(--fw-400);
}

/* ----------- 앨범 슬라이드 ---------- */
#ijs.albumSlide {
  padding: 27px 26px 0 26px;
}

#ijs.albumSlide h3 {
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
  margin-bottom: 20px;
}

#ijs.albumSlide .col5 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  cursor: grab;
  user-select: none;
}

#ijs.albumSlide img {
  width: 180px;
  height: 180px;
  transition: all 0.5s ease;
  pointer-events: none;
}

#ijs.albumSlide .col5 img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
}
#ijs.albumSlide .col5 img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 104;
}
#ijs.albumSlide .col5 img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 170px;
  z-index: 103;
}
#ijs.albumSlide .col5 img:nth-child(4) {
  position: absolute;
  top: 0;
  left: 210px;
  z-index: 102;
}
#ijs.albumSlide .col5 img:nth-child(5) {
  position: absolute;
  top: 0;
  left: 240px;
  z-index: 101;
}

/* -------------- 좋아하는 가수 ---------------- */
#ijs-2.singer_title {
  padding: 17px 26px 0 26px;
  background:
    linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.52) 0%,
      rgba(187, 209, 255, 0.52) 100%
    ),
    linear-gradient(
      0deg,
      rgba(248, 220, 255, 1) 0%,
      rgba(211, 244, 254, 1) 100%
    );
  color: var(--color-black);
}

#ijs-2.singer_title h3 {
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
}

#ijs-2.singer_title .row {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

#ijs-2.singer_title .singer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

#ijs-2.singer_title .singer img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--color-primary-6);
}

#ijs-2.singer_title .singer p {
  font-size: var(--font-12);
  font-weight: var(--fw-semibold);
}

#nhj .hot-chart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#nhj .hot-chart p {
  font-size: 30px;
  font-weight: var(--fw-600);
}

#nhj .hot-chart a {
  margin-left: auto;
}
#nhj .hot-chart a img {
  width: 25px;
}

#nhj .tab-group {
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

#nhj .tab-group input {
  display: none;
}

#nhj .tab-group label {
  font-size: var(--font-14);
  background-color: rgb(255, 255, 255);
  padding: 7px 20px;
  border: 2px solid #bbd1ff;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}

#nhj .tab-group input:checked + label {
  background: linear-gradient(
    180deg,
    rgba(111, 131, 247, 1) 0%,
    rgba(74, 99, 248, 1) 100%
  );
  color: white;
}

/* -------위-콘텐트1---------구분----------아래-콘텐트2------ */

#nhj .content2 {
  width: 100%;
}

#nhj .content2 .chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#nhj .content2 .chart > a > img {
  border-radius: 10px;
  width: 80px;
}

#nhj .content2 .chart .col-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nhj .content2 .chart .box {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #bbd1ff;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(226, 230, 255) 100%
  );
}

#nhj .content2 .chart .box .artist-name-box p:first-child {
  font-size: var(--font-16);
  color: var(--color-black);
  margin-bottom: 5px;
}

#nhj .content2 .chart .box .artist-name-box p:last-child {
  font-size: var(--font-14);
  color: #737886;
}
#nhj .content2 .chart .box .more-btn {
  font-size: var(--font-24);
  cursor: pointer;
}

/* -------위-콘텐트2---------구분----------아래-뮤트광고------ */

#nhj-2 .mutead img {
  border-radius: 5px;
  border: 1px solid #bbd1ff;
}

/* -------------------- 쇼츠 --------------------- */

#ijs-3.shorts_swiper h3 {
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
}

#ijs-3.shorts_swiper .shorts {
  width: 160px;
  height: 284px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 14px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 100%
  );
}

#ijs-3.shorts_swiper .information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

#ijs-3.shorts_swiper .information > img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid var(--color-primary-6);
}

#ijs-3.shorts_swiper .artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: auto;
}

#ijs-3.shorts_swiper .artist p {
  margin: 0;
  line-height: 1.1;
  color: #fff;
  font-weight: var(--fw-100);
}

#ijs-3.shorts_swiper .artist_song {
  font-size: var(--font-12);
}

#ijs-3.shorts_swiper .artist_name {
  font-size: var(--font-10);
}

#ijs-3.shorts_swiper .buttons {
  width: 11px;
  height: 11px;
  position: relative;
}

#ijs-3.shorts_swiper .buttons img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#ijs-3.shorts_swiper .buttons img:first-child {
  display: none;
}
