.hot-chart {
    padding-top: 100px;
    display: flex;
    /* background-color: rgb(177, 177, 177); */
    width: 100%;
    justify-content: space-between;
}

.hot-chart p {
    font-size: var(--font-24);
    font-weight: var(--fw-600);
}

.tab-group input {
    display: none;
}

.tab-group label {
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    margin: 0 10px;
    border: 2px solid #BBD1FF;
    border-radius: 30px;

}