#lsc {
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(211, 244, 254, 0.2) 16.826923191547394%,
      rgba(211, 220, 255, 1) 62.0192289352417%,
      rgba(187, 209, 255, 1) 85.57692170143127%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  border-radius: 0 0 20px 20px;
  padding: 31px 41px;
}
#lsc.container {
  gap: 25px;
}
#lsc > .row:nth-child(1) {
  position: relative;

  justify-content: space-between;
}
#lsc > .row .col-2:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#lsc > .row .col-2:nth-child(1) .content-text-1 h2 {
  margin-bottom: 6px;
}
#lsc > .row .col-2:nth-child(1) .content-text-2 p {
  font-size: var(--font-14);
  font-weight: var(--fw-400);
}

#lsc > .row .col-2:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background:
    linear-gradient(
      180deg,
      rgba(111, 131, 247, 1) 0%,
      rgba(56, 82, 232, 1) 100%
    ),
    linear-gradient(to left, #a13c3c, #a13c3c);
  border-radius: 50%;
  height: calc(100% - 100px);
}
#lsc > .row .col-2:nth-child(2) .play-img {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
}
#lsc > .row > .cloud-img-1 {
  position: absolute;
  left: 55%;
  top: 15%;
}
#lsc > .row > .cloud-img-2 {
  position: absolute;
  right: 0%;
  bottom: 5%;
}
#lsc > .row > .cloud-img-3 {
  position: absolute;
  left: 45%;
  bottom: 15%;
}

#lsc > .row:nth-child(2) .col-1 {
  display: flex;
  cursor: pointer;
}
#lsc > .row:nth-child(2) h4 {
  font-size: var(--font-16);
  font-weight: var(--fw-medium);
  padding: 7px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid var(--color-accent-blue);
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  text-align: center;
}
#lsc-2 {
  overflow: hidden;
}
#lsc-2 > .row:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 14px;
}
#lsc-2 > .row:nth-child(1) .col-2:nth-child(2) img {
  width: 20px;
  height: 26px;
}
#lsc-2 > .row:nth-child(2) {
  gap: 15px;
}
#lsc-3 {
  overflow: hidden;
}
#lsc-3 > .row:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 14px;
}
#lsc-3 > .row:nth-child(1) .col-2:nth-child(2) img {
  width: 20px;
  height: 26px;
}
#lsc-3 > .row:nth-child(2) {
  gap: 15px;
}
