/* ================= 
  마이페이지 메인 Css파일
=====================*/

main .sub-title {
  text-indent: 15px;
  font-size: var(--font-20);
  font-weight: var(--fw-semibold);
  font-weight: 600;
}

main .container {
  margin-top: 24px;
}

main .row:nth-of-type(1) {
  margin-bottom: 40px;
  align-items: center;
}

main .row:nth-of-type(2) {
  margin-bottom: 40px;
}

main .row:nth-of-type(2) .col-1:nth-of-type(1) {
  margin-bottom: 9px;
}

main .row:nth-of-type(2) .col-1:nth-of-type(2) {
  padding: 11px 29px 10px 12px;
}

main .profile_container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  border: 1px solid var(--color-primary-8);
}

main .profile_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14px;
  width: 100%;
}

main .row:nth-of-type(3) {
  align-items: center;
  margin-bottom: 37px;
}

main .row:nth-of-type(3) span {
  text-indent: 28px;
}

main .row:nth-of-type(3) .ticket-container {
  background: url(../../assets/images/mypage/ticket.png) no-repeat;
  background-size: 100% 100%;
  padding: 25px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .row:nth-of-type(3) .ticket-container h3 {
  margin-bottom: 33px;
}

main .row:nth-of-type(3) .ticket-container p {
  margin-bottom: 16px;
}

main .row:nth-of-type(4) {
  margin-bottom: 37px;
}

main .row:nth-of-type(4) h3 {
  margin-bottom: 17px;
}

main .row:nth-of-type(4) ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main .row:nth-of-type(4) ul li {
  padding: 18px 0;
  border-bottom: 1px solid var(--color-primary-5);
}

main .row:nth-of-type(4) ul li a {
  font-size: var(--font-21);
  display: flex;
  align-items: center;
  gap: 31px;
}

main .row:nth-of-type(4) ul li span:first-child {
  text-indent: 20px;
  font-size: var(--font-21);
}

main .row:nth-of-type(4) ul li p {
  text-indent: 20px;
  font-size: var(--font-16);
  font-weight: var(--fw-medium);
}

main .row:nth-of-type(4) ul li span:last-child {
  margin-left: auto;
  text-indent: 20px;
  font-size: var(--font-18);
}
