html {
    background-image: url(../../assets/images/bg/Bg02-big.png);
    background-position: center;
    background-size: cover;
}

.top-bar {
    height: 40px;
    padding: 30px 20px 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-bar a:last-of-type {
    font-size: 30px;
}

.playlist-info {
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    color: #0b1119;
}

.playlist-info .p-1 {
    font-weight: 600;
    font-size: 30px;
    margin: 10px auto;
}


.playlist-info img {
    margin: 10px auto;
    border-radius: 20px;
}

.info-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.info-type p {
    display: block;
    width: 50%;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid #BBD1FF;
    border-radius: 50px;
    box-shadow: 0px 2px 4px #DAE5FF;
}