.top-bar {
    height: 40px;
    padding: 0 20px 14px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-bar a:last-of-type {
    font-size: 30px;
}

.top-bar a:first-of-type {}