main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
}

#section1 {
  gap: 17px;
}

#section1 .row:nth-child(2) {
  border: 1px solid var(--color-primary-5);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 18px 16px;
}

#section1 .row:nth-child(2) .col-1 {
  background-color: #ffffff;
  display: flex;
}
#section1 .row:nth-child(2) .col-1 input {
  font-size: var(--font-14);
  font-weight: var(--fw-medium);
  background-color: #ffffff;
  width: 100%;
}

#section1 .row:nth-child(2) .col-1 span {
  font-size: var(--font-22);
  color: var(--color-primary-4);
  margin-left: auto;
  cursor: pointer;
}

#section1 .row:nth-child(3) h3 {
  font-size: var(--font-16);
  font-weight: var(--fw-medium);
  padding: 7px;
  border: 1px solid var(--color-primary-8);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
}
/* section2 */

#section2 {
  gap: 17px;
  background: linear-gradient(
    180deg,
    rgba(187, 209, 255, 1) 0%,
    rgba(211, 244, 254, 1) 100%
  );
  padding: 30px 0;
}
#section2 img {
  width: 200px;
  object-fit: cover;
}
#section2 h2 {
  font-weight: var(--fw-semibold);
  font-size: var(--font-24);
  text-align: center;
}
#section2 p {
  text-align: center;
}
#section2 p:first-child {
  font-weight: var(--fw-medium);
  font-size: var(--font-20);
  margin-bottom: 5px;
}
#section2 p:last-child {
  font-weight: var(--fw-400);
  font-size: var(--font-18);
}

#section3 .row:nth-child(1) {
  margin-bottom: 22px;
}
#section3 .row:nth-child(2) .col-2 {
  padding: 24px 0;
  border-radius: 20px;
}
#section3 .row:nth-child(2) .col-2 p {
  text-align: center;
  color: #ffffff;
  font-size: var(--font-24);
  font-weight: var(--fw-medium);
}
#section3 .row:nth-child(2) .col-2.pop {
  background: url(../../assets/images/search/pop.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.kpop {
  background: url(../../assets/images/search/kpop.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.hip-hop {
  background: url(../../assets/images/search/hiphop.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.rnb-soul {
  background: url(../../assets/images/search/soul.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.lo-fi {
  background: url(../../assets/images/search/lo-fi.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.city-pop {
  background: url(../../assets/images/search/citypop.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.indie {
  background: url(../../assets/images/search/indie.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.jazz {
  background: url(../../assets/images/search/jazz.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.classic {
  background: url(../../assets/images/search/classic.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.bossanova {
  background: url(../../assets/images/search/bossanova.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.edm {
  background: url(../../assets/images/search/edm.png) no-repeat center;
  background-size: cover;
}
#section3 .row:nth-child(2) .col-2.rock {
  background: url(../../assets/images/search/rock.png) no-repeat center;
  background-size: cover;
}
