main {
  height: calc(100vh - 193px);
  position: relative;
  top: -13px;
}
#section1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(187, 209, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 36px;
  gap: 30px;
}
#section1 .row:nth-child(1) {
  border: 1px solid var(--color-primary-5);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 18px 16px;
}

#section1 .row:nth-child(1) .col-1 {
  background-color: #ffffff;
  display: flex;
}
#section1 .row:nth-child(1) .col-1 input {
  font-size: var(--font-14);
  font-weight: var(--fw-medium);
  background-color: #ffffff;
  width: 100%;
}

#section1 .row:nth-child(1) .col-1 span {
  font-size: var(--font-22);
  color: var(--color-primary-4);
  margin-left: auto;
  cursor: pointer;
}
#section1 .row:nth-child(2) {
  gap: 11px;
}
#section1 .row:nth-child(2) a > img {
  width: 80px;
  border-radius: 10px;
}

#section1 .row:nth-child(2) .col-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section1 .row:nth-child(2) .box {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 15px 10px;
  border-radius: 5px;
}

#section1 .row:nth-child(2) .box .artist-name-box p:first-child {
  font-size: var(--font-16);
  color: var(--color-black);
  margin-bottom: 5px;
}

#section1 .row:nth-child(2) .box .artist-name-box p:last-child {
  font-size: var(--font-14);
  color: #737886;
}
#section1 .row:nth-child(2) .box .more-btn {
  font-size: var(--font-24);
  cursor: pointer;
}
