/* ================= 
  생년월일 , 성별 선택 페이지 메인 Css파일
=====================*/

#wrap {
  background: url(../../assets/images/bg/Bg02-big.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}
.row:nth-child(1) {
  margin-bottom: 20px;
}
.row:nth-child(2) {
  display: flex;
  justify-content: center;
}
.gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 26px 30px 50px 30px;
  border-radius: 20px;
  border: 1px solid var(--color-primary-5);
  box-shadow: 0px 2px 4px 0px rgba(218, 229, 255, 1);
  margin-bottom: 43px;
  cursor: pointer;
  background-color: transparent;
  transition: background 1s ease-in-out;
}
.gender:has(#famale:checked) {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 220, 255, 1) 100%
  );
  border: 1px solid var(--color-pink-2);
}
.gender:has(#male:checked) {
  background: linear-gradient(
    180deg,
    rgba(200, 218, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid var(--color-primary-7);
}
