.col5 {
    position: relative;
    height: 300px;
    z-index: 100;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    cursor: grab;
    user-select: none;
}

img {
    width: 165px;
    height: 165px;
    transition: all 0.5s ease;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.col5 img:nth-child(1) {
    left: 0;
    z-index: 105;
}
.col5 img:nth-child(2) {
    left: 100px;
    z-index: 104;
}
.col5 img:nth-child(3) {
    left: 170px;
    z-index: 103;
}
.col5 img:nth-child(4) {
    left: 210px;
    z-index: 102;
}
.col5 img:nth-child(5) {
    left: 240px;
    z-index: 101;
}
